/* General Styling */
body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  /* Header Styling */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #141414;
  }
  
  .header__logo img {
    width: 100px;
  }
  
  .header__nav {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .header__nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .header__nav-item {
    margin-right: 20px;
  }
  
  .header__nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    transition: color 0.2s;
  }
  
  .header__nav-item a:hover {
    color: #e50914;
  }
  
  .header__icons {
    display: flex;
    align-items: center;
  }
  
  .header__icon {
    color: #ffffff;
    font-size: 1.5em;
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .header__icon:hover {
    color: #e50914;
  }
  
  .header__user-icon img {
    width: 32px;
    border-radius: 4px;
  }
  