.movies {
    padding: 20px;
    color: white;
    background-color: #111;
  }
  
  .movies__title {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  
  
  