.mylist {
    padding: 20px;
    color: white;
    background-color: #111;
    text-align: center; 
    min-height: 50vh;
    ;
  }
  
  .mylist__title {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .mylist__message {
    font-size: 3.2rem;
    margin-top: 200px;
    color: #aaa; 
  }
  