/* Footer Styling */
.footer {
    background-color: #141414;
    color: #ffffff;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    margin: 50px;
  
  }
  
  .footer__social-media {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .footer__social-media i {
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .footer__social-media i:hover {
    color: #e50914;
  }
  
  .footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .footer__link-list {
    list-style: none;
    padding: 0;
    margin: 0 20px;
  }
  
  .footer__link-item {
    margin: 10px 0;
  }
  
  .footer__link-item a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.2s;
  }
  
  .footer__link-item a:hover {
    color: #ffffff;
  }
  
  .footer__service-code {
    background-color: #333333;
    color: #b3b3b3;
    border: 1px solid #333333;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    align-self: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .footer__service-code:hover {
    background-color: #e50914;
    color: #ffffff;
    border-color: #e50914;
  }
  
  .footer__copyright {
    font-size: 0.8em;
    color: #b3b3b3;
    margin-left: 20px
  }
  
  @media (max-width: 520px){
    .footer__links{
      font-size: 10px;
    }
    .footer__link-list{
      margin: 0;
    }
  }