/* General Styling */
body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Banner Styling */
.banner {
  color: white;
  object-fit: contain;
  height: 800px;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.banner__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.banner__title {
  align-self: baseline;
  margin-left: 40px;
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  margin-top: 150px;
}

.banner__buttons {
  align-self: baseline;
  margin-left: 40px;
  display: flex;
  margin-top: 15px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  transition: all 0.2s ease;
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
}

.banner__description {
  align-self: baseline;
  margin-left: 40px;
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1.3rem;
  max-width: 360px;
}

/* PG Rating Styling */
.banner__pg-rating {
  position: absolute;
  top: 600px;
  right: 30px;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.banner--fadeBottom {
  height: 15rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(36, 36, 36, 0.1),
    #111
  );
  position: absolute;
  top: 70%;
  width: 100%;
  pointer-events: none;
}

.banner--hidden {
  display: none;
}

.banner__button--play {
  background-color: #fff;
  color: #000;
}

.banner__button--play i {
  margin-right: 10px;
}

.banner__button--info {
  background-color: rgba(125, 125, 125, 0.8);
  color: #fff;
}

.banner__button--info i {
  margin-right: 10px;
}

/* Hover Effects */
.banner__button--play:hover {
  background-color: #dbdada;
}

.banner__button--info:hover {
  background-color: rgba(85, 85, 85, 0.8);
  color: #fff;
}

/* Responsive Styling */
@media (max-width: 1082px) {
  .banner__title {
    font-size: 3rem;
  }

  .banner__description {
    font-size: 1.3rem;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .banner__title {
    font-size: 1.5rem;
  }

  .banner__description {
    font-size: 0.9rem;
    width: 100%;
  }
}

/* Larger Screen Styling */
@media (min-width: 1082px) {
  .banner__description {
    max-width: 100%;
    height: auto;
  }
}

.banner__video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner__close-video {
  position: absolute;
  top: 120px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5); 
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  z-index: 1000; /* Ensure button is above the video */
}

